header {
  height: 400px;
  width: 100%;
  background-image: url(/images/back-pattern.png);
  background-color: orange;
  padding-top: 63px;
}

header div{
  display: flex;
  justify-content: center;

}
header br{
display: none;
}

