nav {
  height: 120 px;
  width: 100%;
  background-color: #536ab4;
  padding-top: 25px;
  padding-bottom: 10px;
  padding-left: 1.5em;
  padding-right: 1.5em;
  color: #fff;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
}
nav span {
  font-family: "Bungee", cursive;
}

.rightConerIcon {
  display: flex;
  flex-direction: column;
  font-size: 60%;
}

.rightConerIcon p {
  margin: 0;
}

#navAngleIcon {
  color: red;
  animation: mover 1s infinite alternate;
}

@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-5px);
  }
}
#scrollUpButton {
  display: none;
  border: none;
  bottom: 20px;
  right: 30px;
  height: 50px;
  width: 50px;
  position: fixed;
  color: white;
  background-color: red;
  border-radius: 50%;
}

@media screen and (max-width: 768px) {
  nav {
    background-color: transparent;
  }
}
