.show-tweet {
  margin-top: 30px;
  margin-bottom: 5px;
  border-color: gray;
  border-style: solid;
  border-width: 4px;
  padding: 1%;
}
.show-tweet:hover {
  box-shadow: 5px 10px #888888;
}

h5 {
  display: flex;
  justify-content: space-between;
  padding: 1%;
  margin: 1%;
  align-items: center;
}

.tweet-content {
  width: 100%;
  border-color: gray;
  border-width: 0 0 4px;
  border-style: solid;
  padding: 5%;
  margin-bottom: 0px;
  margin-top: 0px;
  word-wrap: break-word;
}

.username {
  display: flex;
  align-items: center;
  font-family: "Source Sans Pro", sans-serif;
}

#login-name {
  font-family: "Source Sans Pro", sans-serif;
  color: rgb(205, 199, 199);
}

article footer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-size: small;
}

.smallAvatar {
  height: 50px;
  float: left;
}

p {
  align-self: center;
}

.iconHover:hover {
  color: darkgoldenrod;
}
